<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161641220941-q23ndanpc5jied9e4kf0upbrv7ami75o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161641220941-q23ndanpc5jied9e4kf0upbrv7ami75o</string>
	<key>API_KEY</key>
	<string>AIzaSyCDmMlCXTAwvAer2ynEBT7liWKk_WMIFSw</string>
	<key>GCM_SENDER_ID</key>
	<string>161641220941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harsha.FirebaseConnectionDemo</string>
	<key>PROJECT_ID</key>
	<string>testfirebaseagain-9c9a3</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebaseagain-9c9a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161641220941:ios:90596a6643be0746418504</string>
</dict>
</plist>